.card {
  position: relative;
  margin: 50px;
  margin-top:200px;
  width:min(80%,600px);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.26);
  border-radius: 0.3rem;
  padding: 2rem;
  overflow: hidden;
  background: rgb(254, 255, 255);
  transition: 0.15s;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom : 30px;

}
.card-inner{
  text-align: center;
  display: flex;
  justify-content: center;
}
.card:focus{

  transform:scale(1.1);
  box-shadow:  2px 2px 15px  #ffa600;
}
*{
  overflow: wrap;
}
.clear{

}