.modal{
    position:absolute;
    display: block;
    top:50%;
    left:50%;
    width:50vw;
    margin: auto;
    color:black !important;
    z-index:100;
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    box-shadow: 0 0 2px 1px darkgrey;
}